<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tutoring.mapper.PsychologicalAssessmentDetailMapper">
    
    <select id="findByAssessmentId" parameterType="java.lang.Long" resultType="com.tutoring.entity.PsychologicalAssessmentDetail">
        SELECT * FROM psychological_assessment_details 
        WHERE assessment_id = #{assessmentId} AND deleted = 0
    </select>
    
</mapper>
