<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tutoring.mapper.TeacherCommunicationMapper">
    
    <select id="findByParentIdAndTeacherId" parameterType="java.util.Map" resultType="com.tutoring.entity.TeacherCommunication">
        SELECT * FROM teacher_communications 
        WHERE parent_id = #{parentId} AND teacher_id = #{teacherId} AND deleted = 0 
        ORDER BY send_time ASC
    </select>
    
    <select id="findTeacherIdsByParentId" parameterType="java.lang.Long" resultType="java.lang.Long">
        SELECT DISTINCT teacher_id FROM teacher_communications 
        WHERE parent_id = #{parentId} AND deleted = 0
    </select>
    
</mapper>
